<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Material Issue Acceptance</title>
    <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
      }
      table {
          width: 100%;
          border-collapse: collapse;
      }
      th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: center;
          font-size: 12px;
      }
      .header {
          font-weight: bold;
          font-size: 14px;
      } 

      .signature-section td {
          height: 50px;
      }
  
      .remarks {
          height: 100px;
      }
   
    </style>
  </head>
  <body>
    <% requestData.forEach(function(order, index) { %>
    <div>
      <table>
        <thead>
          <tr>
            <td colspan="18" class="header">
              <div style="display: flex; align-items: center; justify-content: center;">
                <img
                    src="<%= logoUrl1 %>"
                    alt="Company Logo"
                    style="max-width: 100px; height: 100px; margin-right: 20px;"
                />
                <div style="flex: 1; text-align: center; font-size: 24px;">
                  <strong>VISHAL ENTERPRISE & VRISHAL ENGINEERING PRIVATE LIMITED</strong><br />
                      GROUP OF COMPANIES<br />
                </div>
                <!-- <img
                     src="<%= logoUrl2 %>"
                    alt="Company Logo"
                    style="max-width: 100px; height: 100px; margin-right: 0px;"
                /> -->
              </div>
            </td>
          </tr>
            <td colspan="8" class="header">PROJECT MATERIAL ISSUE/RETURN VOUCHER</td>
            <td colspan="2" class="header">MIV NO.</td>
            <td colspan="7"><%= order.miv_no || '--' %></td>
          </tr>
          <tr>
            <td colspan="1" class="header">CLIENT</td>
            <td colspan="3"><%= order.client || '--' %></td>
            <td colspan="1" class="header">Project Name</td>
            <td colspan="3"><%= order.project_name || '--' %></td>
            <td colspan="1" class="header">Contractor Name</td>
            <td colspan="4"><%= order.contractor_name || '--' %></td>
            <td colspan="1" class="header">Date :</td>
            <td colspan="3">
              <!-- <%= order.issued_date ? new
              Date(order.issued_date).toLocaleDateString() : '--' %> -->
              <%= order.issued_date 
              ? new Date(order.issued_date).toISOString().slice(0, 10).split('-').reverse().join('/') 
              : '--' %>  
            </td>
          </tr>
          <tr class="">
            <th>S. No.</th>
            <th>DRAWING NO./LINE NO.</th>
            <th>REV.NO.</th>
            <th>SHEET NO.</th>
            <th>ASSEMBLY NUMBER</th>
            <th>GRID NUMBER</th>
            <th>ITEM NUMBER</th>
            <th>PROFILE</th>
            <th>REQUESTED LENGTH (mm)</th>
            <th>REQUESTED WIDTH (mm)</th>
            <th>REQUESTED Qty. (Nos)</th>
            <th>ISSUED LENGTH (mm)</th>
            <th>ISSUED WIDTH (mm)</th>
            <th>ISSUED Qty. (Nos)</th>
            <th>IMIR NO.</th>
            <th>HEAT NO.</th>
            <th>REMARKS</th>
          </tr>
        </thead>
        <tbody>
          <% order.items.forEach(function(detail, index) { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= detail.drawing_no || '--' %></td>
            <td><%= detail.rev || '--' %></td>
            <td><%= detail.sheet_no || '--' %></td>
            <td><%= detail.assembly_no || '--' %></td>
            <td><%= detail.grid_no || '--' %></td>
            <td><%= detail.item_no || '--' %></td>
            <td><%= detail.profile || '--' %></td>
            <td><%= detail.requested_length || '--' %></td>
            <td><%= detail.requested_width || '--' %></td>
            <td><%= detail.requested_qty || '--' %></td>
            <td><%= detail.issued_length || '--' %></td>
            <td><%= detail.issued_width || '--' %></td>
            <td><%= detail.issued_qty || '--' %></td>
            <td><%= detail.imir_no || '--' %></td>
            <td><%= detail.heat_no || '--' %></td>
            <td><%= detail.remarks || '--' %></td>
          </tr>
          <% }) %>
        </tbody>
        <tr>
          <td colspan="3"></td>
          <td colspan="14" class="header">Issued By</td>
        </tr>
        <tr>
          <td colspan="3">SIGNATURE</td>
          <td colspan="14"></td>
        </tr>
        <tr>
          <td colspan="3">NAME</td>
          <td colspan="14"><%= order.issue_name || '--' %></td>
        </tr>
        <tr>
          <td colspan="3">DATE</td>
          <td colspan="14">
            <!-- <%= order.issue_date ? new
            Date(order.issue_date).toLocaleDateString() : '--' %></td> -->
            <%= order.issue_date 
            ? new Date(order.issue_date).toISOString().slice(0, 10).split('-').reverse().join('/') 
            : '--' %>  
          </tr>
        <tr>
          <td colspan="17" style="text-align: left;">VE-DOC-08  REV.00</td>
        </tr>
      </table>
    </div>
    <% }) %>
  </body>
</html>