<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Request Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="">
        <div class="card">
            <div class="card-header text-center">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <img
                        src="<%= logoUrl1 %>"
                        alt="Company Logo"
                        style="max-width: 80px; height: 80px; margin-right: 0px;"
                    />
                    <div style="flex: 1; text-align: center; font-size: 16px; transform: scaleY(1.3);">
                      <strong>Pranhans engineering</strong><br />
                      <div style="flex: 1; text-align: center; font-size: 13px;">
                        <small><%= emp.address %> <%= emp.address_two %> <%= emp.address_three %> <%= emp.city %> , <%= emp.state %> - <%= emp.pincode %></small>
                      </div>
                    </div>
                    <img
                        src="<%= logoUrl2 %>"
                        alt="Company Logo"
                        style="max-width: 80px; height: 80px; margin-right: 0px;"
                    />
                </div>
                
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-end mb-1">
                    <b>Date: <%= new Date(emp.entry_date).toLocaleDateString() %></b>
                </div>
                <div class="d-flex mb-1">
                    <p class="w-50">Voucher No: </p>
                    <p class="w-50"><%= emp.voucher_no %></p>
                </div>
                <div class="d-flex mb-1">
                    <p class="w-50">Card No: </p>
                    <p class="w-50"><%= emp.card_no %></p>
                </div>
                <div class="d-flex mb-1">
                    <p class="w-50">Employee Name: </p>
                    <p class="w-50"><%= emp.employee_name %></p>
                </div>
                <div class="d-flex mb-1">
                    <p class="w-50">Designation: </p>
                    <p class="w-50"><%= emp.designation %></p>
                </div>
                <div class="d-flex mb-1">
                    <p class="w-50">Department: </p>
                    <p class="w-50"><%= emp.department %></p>
                </div>
                <div class="d-flex mb-1">
                    <p class="w-50">Mobile No: </p>
                    <p class="w-50"><%= emp.mobile %></p>
                </div>
                <div class="d-flex mb-1">
                    <p class="w-50">Leave Date: </p>
                    <p class="w-50"><%= new Date(emp.startDate).toLocaleDateString() %> - <%= new Date(emp.endDate).toLocaleDateString() %></p>
                </div>
                <div class="d-flex mb-1">
                    <p class="w-50">Leave Days: </p>
                    <p class="w-50"><%= emp.duration %></p>
                </div>
                <div class="d-flex mb-1">
                    <p class="w-50">Leave Reason: </p>
                    <p class="w-50"><%= emp.reason %></p>
                </div>
            </div>
            
            <div class="p-2 m-2 d-flex justify-content-between">
                <div>
                    <b>Employee Signature</b>
                    <p>___________________________</p>
                </div>
                <div>
                    <b>Authorised Person Signature</b>
                    <p>___________________________</p>
                </div>
            </div>
        </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
</body>
</html>