<!DOCTYPE html>
<html lang="en">
  <% requestData.forEach(function(order, index) { %>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (order.ndtType == "UT") { %>
        Ultrasonic Test Offer
      <% } else if(order.ndtType == "RT") { %>
        Radiography Test Offer
      <% } else if(order.ndtType == "MPT") { %>
        Magnetic Particle Test Offer
      <% } else if(order.ndtType == "LPT") { %>
        Liquid Penetrant Test Offer
      <% } %>
    </title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        font-size: 12px;
      }
      .header {
        font-weight: bold;
        font-size: 14px;
      } 
      .signature-section td {
        height: 50px;
      }
      .remarks {
        height: 100px;
      }
    </style>
  </head>
  <body>
    <div>
      <table>
        <thead>
          <tr>
            <td colspan="14" class="header">
              <div style="display: flex; align-items: center; justify-content: center;">
                <img
                    src="<%= logoUrl1 %>"
                    alt="Company Logo"
                    style="max-width: 100px; height: 100px; margin-right: 10px;"
                />
                <div style="flex: 1; text-align: center; font-size: 24px;">
                  <strong>VISHAL ENTERPRISE & VRISHAL ENGINEERING PRIVATE LIMITED</strong><br />
                      GROUP OF COMPANIES<br />
                </div>
                <img
                    src="<%= logoUrl2 %>"
                    alt="Company Logo"
                    style="max-width: 100px; height: 100px; margin-right: 0px;"
                />
              </div>
            </td>
          </tr>
        <tr>
          <td colspan="15" class="header">
            <% if (order.ndtType == "UT") { %>
              ULTRASONIC TEST OFFER
            <% } else if(order.ndtType == "RT") { %>
              RADIOGRAPHY TEST OFFER
            <% } else if(order.ndtType == "MPT") { %>
              MAGNETIC PARTICLE TEST OFFER
            <% } else if(order.ndtType == "LPT") { %>
              LIQUID PENETRANT TEST OFFER
            <% } %>
          </td>
        </tr>
          <tr>
            <td colspan="2" class="header">CLIENT</td>
            <td colspan="4"><%= order.client || '--' %></td>
            <td colspan="1" class="header">REPORT NO.</td>
            <td colspan="4"><%= order.report_no || '--' %></td>
          </tr>
          <tr>
            <td colspan="2" class="header">PROJECT</td>
            <td colspan="4"><%= order.project_name || '--' %></td>
            <td colspan="1" class="header">OFFER DATE</td>
            <td colspan="4">
              <!-- <%= order.offer_date ? new Date(order.offer_date).toLocaleDateString() : '--' %> -->
              <%= order.offer_date 
              ? new Date(order.offer_date).toISOString().slice(0, 10).split('-').reverse().join('/') 
              : '--' %>  
            </td>
          </tr>
          <tr>
            <td colspan="2" class="header">WO NO./PO NO.</td>
            <td colspan="9"><%= order.wo_no || '--' %></td>
          </tr>
          <tr class="">
            <th>SR No.</th>
            <th>DRAWING NO.</th>
            <% if (order.ndtType == "UT") { %>
              <th>REV</th>
            <% } %>
            <th>ASSEMBLY NUMBER</th>
            <th>GRID NUMBER</th>
            <th>PROFILE</th>
            <th>TYPE OF WELD</th>
            <th>WELDING PROCESS</th>
            <th>WELDER NO.</th>
            <th>THICKNESS (mm)</th>
            <th>REMARKS</th>
          </tr>
        </thead>
        <tbody>
          <% order.items.forEach(function(detail, index) { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= detail.drawing_no || '--' %></td>
              <% if (order.ndtType == "UT") { %>
                <td><%= detail.rev || '--' %></td>
              <% } %>
              <td><%= detail.assembly_no || '--' %></td>
              <td><%= detail.grid_no || '--' %></td>
              <td><%= detail.profile || '--' %></td>
              <td><%= detail.joint_type || '--' %></td>
              <td><%= detail.weld_process || '--' %></td>
              <td><%= detail.welder_no || '--' %></td>
              <td><%= detail.thickness || '--' %></td>
              <td><%= detail.remarks || '--' %></td>
            </tr>
          <% }) %>
        </tbody>
        <tr>
          <td colspan="2" class="header">NOTE</td>
          <td colspan="9"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td colspan="9" class="header">OFFERED BY</td>
        </tr>
        <tr>
          <td colspan="2">SIGNATURE</td>
          <td colspan="9"></td>
        </tr>
        <tr>
          <td colspan="2">NAME</td>
          <td colspan="9"><%= order.offer_name || '--' %></td>
        </tr>
        <tr>
          <td colspan="2">DATE</td>
          <td colspan="9">
            <!-- <%= order.offer_date ? new Date(order.offer_date).toLocaleDateString() : '--' %> -->
            <%= order.offer_date 
            ? new Date(order.offer_date).toISOString().slice(0, 10).split('-').reverse().join('/') 
            : '--' %>  
          </td>
        </tr>
        <tr>
            <% if (order.ndtType == "UT") { %>
              <td colspan="11" style="text-align: left;">VE-QA-FORMAT-50A</td>
            <% } else if(order.ndtType == "RT") { %>
              <td colspan="11" style="text-align: left;">VE-QA-FORMAT-07A</td>
            <% } else if(order.ndtType == "MPT") { %>
              <td colspan="11" style="text-align: left;">VE-QA-FORMAT-29A</td>
            <% } else if(order.ndtType == "LPT") { %>
              <td colspan="11" style="text-align: left;">VE-STR-13A</td>
            <% } %>
        </tr>
      </table>
    </div>
    <% }) %>
  </body>
</html>