<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (requestData.average_dft_primer) { %>
        Surface Paint Inspection
      <% } else { %>
        Surface Paint Offer
      <% } %>
    </title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        font-size: 12px;
      }
      .header {
        font-weight: bold;
        font-size: 14px;
      } 
      .header3 {
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        height: 30px;
      } 
      .header1 {
        font-weight: bold;
        font-size: 12px;
      } 
      .header2 {
        font-weight: bold;
        font-size: 12px;
        text-align: left;
      } 
      .signature-section td {
        height: 50px;
      }
      .remarks {
        height: 100px;
      }
    </style>
  </head>
  <body>
    <div>
      <table>
        <thead>
          <tr>
            <td colspan="30" class="header">
              <div style="display: flex; align-items: center; justify-content: center;">
                <img
                    src="<%= logoUrl1 %>"
                    alt="Company Logo"
                    style="max-width: 100px; height: 100px; margin-right: 20px;"
                />
                <div style="flex: 1; text-align: center; font-size: 24px;">
                  <strong>VISHAL ENTERPRISE & VRISHAL ENGINEERING PRIVATE LIMITED</strong><br />
                  GROUP OF COMPANIES<br />
                </div>
                <img
                    src="<%= logoUrl2 %>"
                    alt="Company Logo"
                    style="max-width: 100px; height: 100px; margin-right: 0px;"
                />  
              </div>
            </td>
          </tr>
          <tr>
            <th colspan="30"class="header">
                <% if (requestData.average_dft_primer) { %>
                    SURFACE PREPARATION & PRIMER PAINT INSPECTION REPORT
                <% } else { %>
                    SURFACE PREPARATION & PRIMER PAINTING INSPECTION OFFER 
                <% } %>
            </th>
          </tr>
          <tr>
            <td colspan="1" class="header">CLIENT</td>
            <td colspan="2"><%= requestData.client || '--' %></td>
            <td colspan="1" class="header">PROJECT</td>
            <td colspan="2"><%= requestData.project_name || '--' %></td>
            <td colspan="1" class="header">REPORT NO.</td>
            <td colspan="3"><%= requestData.report_no || '--' %></td>
          </tr>
          <tr>
            <td colspan="1" class="header">WO/PO NO</td>
            <td colspan="2"><%= requestData.wo_no || '--' %></td>
            <td colspan="1" class="header">PROCEDURE NO.</td>
            <td colspan="2"><%= requestData.procedure_no || '--' %></td>
            <td colspan="1" class="header">DATE</td>
            <td colspan="3">
              <!-- <%= requestData.date ? new Date(requestData.date).toLocaleDateString() : '--' %> -->
              <%= requestData.date 
              ? new Date(requestData.date).toISOString().slice(0, 10).split('-').reverse().join('/') 
              : '--' %>
            </td>
          </tr>
          <tr>
            <td colspan="10" class="header3">WEATHER CONDITION</td>
          </tr>
          <tr>
            <th rowspan="2" style="width: 80px;">ACTIVITY</th>
            <th rowspan="2" style="width: 110px;">DATE PERFORMED</th>
            <th rowspan="1" colspan="4">START</th>
            <th rowspan="1" colspan="4">FINISH</th>
          </tr>
          <tr>
            <th style="width: 110px;">SURFACE OR METAL TEMP °C</th>
            <th style="width: 80px;">DEW POINT °C</th>
            <th style="width: 80px;">RELATIVE HUMIDITY %</th>
            <th style="width: 110px;">AMBIENT TEMP °C</th>
            <th style="width: 80px;">SURFACE OR METAL TEMP °C</th>
            <th style="width: 80px;">DEW POINT °C</th>
            <th style="width: 80px;">RELATIVE HUMIDITY %</th>
            <th style="width: 80px;">AMBIENT TEMP °C</th>
          </tr>
          </thead>
          <tbody>
            <% requestData.weather_condition.forEach(function(order, index) { %>
                <tr>
                    <td><%= order.activity_type || '--' %></td>
                    <td>
                      <!-- <%= order.performed_date ? new Date(order.performed_date).toLocaleDateString() : '--' %> -->
                      <%= order.performed_date 
                      ? new Date(order.performed_date).toISOString().slice(0, 10).split('-').reverse().join('/') 
                      : '--' %>
                    </td>
                    <td><%= order.start_surface_temp || '--' %></td>
                    <td><%= order.start_dew_point || '--' %></td>
                    <td><%= order.start_relative_humidity || '--' %></td>
                    <td><%= order.start_ambient_temp || '--' %></td>
                    <td><%= order.finish_surface_temp || '--' %></td>
                    <td><%= order.finish_dew_point || '--' %></td>
                    <td><%= order.finish_relative_humidity || '--' %></td>
                    <td><%= order.finish_ambient_temp || '--' %></td>
                </tr>
              <% }) %>
          </tbody>
          <tr>
            <td colspan="10" class="header3">SURFACE CONDITION</td>
          </tr>
          <tr>
            <td colspan="2" class="header2">ORIGINAL STATUS</td>
            <td colspan="1"><%= requestData.original_status || '--' %></td>
            <td colspan="2" class="header2">METAL CONDITION</td>
            <td colspan="1"><%= requestData.metal_condition || '--' %></td>
            <td colspan="2" class="header2">METAL RUST GRADE</td>
            <td colspan="2"><%= requestData.metal_rust_grade || '--' %></td>
          </tr>
          <tr>
            <td colspan="2" class="header2">PAINT SYSTEM NO.</td>
            <td colspan="1"><%= requestData.paint_sys_no || '--' %></td>
            <td colspan="3"></td>
            <td colspan="2" class="header2">BLASTING DATE</td>
            <td colspan="2">
              <!-- <%= requestData.blasting_date ? new Date(requestData.blasting_date).toLocaleDateString() : '--' %> -->
              <%= requestData.blasting_date 
              ? new Date(requestData.blasting_date).toISOString().slice(0, 10).split('-').reverse().join('/') 
              : '--' %>
            </td>
          </tr>
          <tr>
            <td colspan="10" class="header3">SURFACE PREPARATION</td>
          </tr>
          <tr>
            <td colspan="2" class="header2">BLASTING METHOD</td>
            <td colspan="1"><%= requestData.blasting_method || '--' %></td>
            <td colspan="2" class="header2">PREP. STANDARD</td>
            <td colspan="1"><%= requestData.prep_standard || '--' %></td>
            <td colspan="2" class="header2">ABRASIVE TYPE</td>
            <td colspan="2"><%= requestData.abrasive_type || '--' %></td>
          </tr>
          <tr>
            <td colspan="2" class="header2">SURFACE PROFILE REQUIREMENT</td>
            <td colspan="1"><%= requestData.profile_requirement || '--' %></td>
            <% if (requestData.actual_surface_profile) { %>
              <td colspan="2" class="header2">ACTUAL SURFACE PROFILE</td>
              <td colspan="1"><%= requestData.actual_surface_profile || '--' %></td>
              <td colspan="4"></td>
            <% } else { %>
              <td colspan="3"></td>
              <td colspan="4"></td>
            <% } %>
          </tr>
          <tr>
            <td colspan="2" class="header2">DUST LEVEL</td>
            <td colspan="1"><%= requestData.dust_level || '--' %></td>
            <td colspan="2" class="header2">SALT TEST REQUIRED </td>
            <td colspan="1"><%= requestData.salt_test || '--' %></td>
            <% if (requestData.salt_test_reading) { %>
              <td colspan="2" class="header2">SALT TEST READING</td>
              <td colspan="2"><%= requestData.salt_test_reading || '--' %></td>
            <% } else { %>
              <td colspan="4"></td>
            <% } %>
          </tr>
          <tr>
            <td colspan="10" class="header3">PRIMER COATING</td>
          </tr>
          <tr>
            <td colspan="2" class="header2">PRIMER PAINT/SHADE</td>
            <td colspan="1"><%= requestData.prime_paint || '--' %></td>
            <td colspan="2" class="header2">APP. METHOD</td>
            <td colspan="1"><%= requestData.primer_app_method || '--' %></td>
            <td colspan="2" class="header2">PRIMER DATE</td>
            <td colspan="2">
              <!-- <%= requestData.primer_date ? new Date(requestData.primer_date).toLocaleDateString() : '--' %> -->
              <%= requestData.primer_date 
              ? new Date(requestData.primer_date).toISOString().slice(0, 10).split('-').reverse().join('/') 
              : '--' %>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="header2">PAINT MANUFACTURER</td>
            <td colspan="1"><%= requestData.paint_manufacturer || '--' %></td>
            <td colspan="2" class="header2">DFT RANGE</td>
            <td colspan="1"><%= requestData.primer_dft_range || '--' %></td>
            <td colspan="2" class="header2">TIME</td>
            <td colspan="2"><%= requestData.time || '--' %></td>
          </tr>
          <tr>
            <td colspan="2" class="header2">PAINT BATCH NO. (BASE)</td>
            <td colspan="1"><%= requestData.paint_batch_base || '--' %></td>
            <td colspan="2" class="header2">MANUFACTURE DATE</td>
            <td colspan="1">
              <!-- <%= requestData.manufacture_date ? new Date(requestData.manufacture_date).toLocaleDateString() : '--' %> -->
              <%= requestData.manufacture_date 
              ? new Date(requestData.manufacture_date).toISOString().slice(0, 10).split('-').reverse().join('/') 
              : '--' %>
            </td>
            <td colspan="2" class="header2">SHELF LIFE</td>
            <td colspan="2"><%= requestData.shelf_life || '--' %></td>
          </tr>
          <tr>
            <td colspan="2" class="header2">PAINT BATCH NO. (HARDNER)</td>
            <td colspan="1"><%= requestData.paint_batch_hardner || '--' %></td>
            <td colspan="3"></td>
            <td colspan="4"></td>
          </tr>
          <% if (requestData.average_dft_primer && requestData.accept) { %>
            <trs>
                <th rowspan="2" colspan="1" class="header">SR. NO.</th>
                <th rowspan="2" colspan="2" class="header">DRAWING NO.</th>
                <th rowspan="2" colspan="1" class="header">ASSEMBLY NUMBER</th>
                <th rowspan="2" colspan="1" class="header">GRID NUMBER</th>
                <th rowspan="2" colspan="1" class="header">QTY(Nos)</th>
                <th rowspan="1" colspan="2" class="header">Average DFT</th>
                <th rowspan="2" colspan="2" class="header">ACC/REJ</th>
            </trs>
            <tr>
                <th colspan="2" class="header">PRIMER</th>
            </tr>
            <tr style="height: 50px;">
                <td colspan="1">1</td>
                <td colspan="2"><%= requestData.drawing_no || '--' %></td>
                <td colspan="1"><%= requestData.assembly_no || '--' %></td>
                <td colspan="1"><%= requestData.grid_no || '--' %></td>
                <td colspan="1"><%= requestData.qty || '--' %></td>
                <td colspan="2"><%= requestData.average_dft_primer || '--' %></td>
                <td colspan="2"><%= requestData.accept || '--' %></td>
            </tr>
            <tr>
                <td colspan="1" class="header">NOTE</td>
                <td colspan="9"><%= requestData.notes || '--' %></td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="4" class="header">VISHAL QC</td>
                <td colspan="5" class="header">CLIENT / TPIA</td>
            </tr>
            <tr style="height: 70px;">
                <td colspan="1" class="header">SIGN</td>
                <td colspan="4"></td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="1" class="header">NAME</td>
                <td colspan="4"><%= requestData.qc_name || '--' %></td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="1" class="header">DATE</td>
                <td colspan="4">
                  <!-- <%= requestData.date ? new Date(requestData.date).toLocaleDateString() : '--' %> -->
                  <%= requestData.date 
                  ? new Date(requestData.date).toISOString().slice(0, 10).split('-').reverse().join('/') 
                  : '--' %>
                </td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="10" style="text-align: left;">VE-STR-16</td>
            </tr>
          <% } else { %>
            <tr style="height: 70px;">
                <th colspan="1" class="header">SR. NO.</th>
                <th colspan="2" class="header">DRAWING NO.</th>
                <th colspan="2" class="header">ASSEMBLY NUMBER</th>
                <th colspan="1" class="header">GRID NUMBER</th>
                <th colspan="1" class="header">QTY(Nos)</th>
                <th colspan="3" class="header">REMARKS</th>
            </tr>
            <tr style="height: 50px;">
                <td colspan="1">1</td>
                <td colspan="2"><%= requestData.drawing_no || '--' %></td>
                <td colspan="2"><%= requestData.assembly_no || '--' %></td>
                <td colspan="1"><%= requestData.grid_no || '--' %></td>
                <td colspan="1"><%= requestData.qty || '--' %></td>
                <td colspan="3"><%= requestData.remarks || '--' %></td>
            </tr>
            <tr>
                <td colspan="1" class="header">NOTE</td>
                <td colspan="9"><%= requestData.notes || '--' %></td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="9" class="header">OFFERED BY</td>
            </tr>
            <tr style="height: 70px;">
                <td colspan="1" class="header">SIGN</td>
                <td colspan="9"></td>
            </tr>
            <tr>
                <td colspan="1" class="header">NAME</td>
                <td colspan="9"><%= requestData.offer_name || '--' %></td>
            </tr>
            <tr>
                <td colspan="1" class="header">DATE</td>
                <td colspan="9">
                  <!-- <%= requestData.date ? new Date(requestData.date).toLocaleDateString() : '--' %> -->
                  <%= requestData.date 
                  ? new Date(requestData.date).toISOString().slice(0, 10).split('-').reverse().join('/') 
                  : '--' %>
                </td>
            </tr>
            <tr>
                <td colspan="10" style="text-align: left;">VE-STR-16A</td>
            </tr>
          <% } %>
      </table>
    </div>
  </body>
</html>